/* NAVBAR MAIN */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #1d1d1d;
}

/* LOGO */
.nav-logo {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

/* DESKTOP MENU */
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 15px;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    opacity: 0.6;
}

/* MOBILE TOGGLE ICON */
.nav-toggle {
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: 0.3s;
}

.bar1-open {
    transform: translateY(9px) rotate(45deg);
}

.bar2-open {
    opacity: 0;
}

.bar3-open {
    transform: translateY(-9px) rotate(-45deg);
}

/* MOBILE MENU */
.mobile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 20px;
    text-align: center;
    transform: translateY(-300px);
    transition: 0.4s ease;
    opacity: 0;
    pointer-events: none;

    padding: 30px 20px;
}

.mobile-menu.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.mobile-menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 18px 0;
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color,
        fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter,
        -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-200 {
    transition-duration: 200ms;
}


.preorder {
    padding: 10px 16px;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 6px;
}

.preorder:hover {
    background-color: #1e40af;
}


/* ------------------------------- */
/* 📱 MOBILE RESPONSIVE */
/* ------------------------------- */
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }

    .navbar {
        padding: 20px 30px;
    }
}